.form {
  flex: 0 0 auto;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
}

label {
  user-select: none;
}

input[type="number"] {
  width: 3em;
}

.columns {
  display: flex;
  justify-content: stretch;
  overflow: hidden;
}

@media (max-width: 500px) {
  .columns {
    flex-wrap: wrap;
  }
}

.column {
  flex: 1 0 auto;
}

.collapsed .column:not(:last-child) {
  display: none;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}

.collapsed .group {
  display: none;
}

.hidden {
  display: none;
}

.buttons {
  text-align: right;
}

.controlButton {
  border-radius: 24px;
  min-width: 96px;
  min-height: 42px;
  border: 4px royalblue;
  border-style: solid;
  background-color: white;
  color: royalblue;
  outline:0;
}

.controlButton:active {
  outline: 0;
  border: 4px royalblue;
  border-style: solid;
  background-color: #aaaaaa;
  color: darkblue;  
}